<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/game/game.js" defer></script>
    <script src="/public/js/socket/system_socket.js" defer></script>
    <script src="/public/js/socket/game_socket.js" defer></script>
    <link rel="stylesheet" href="/public/css/game/game.css">
    <title>오목 게임</title>
</head>
<body>
    <h2> <%= nickname %> 님 어서오세요 </h2>
    <div id="current-player" class="player-info">
        <div style="align-self:center">현재 차례 : </div>
        <div class="black-circle"></div>
        <div id="current-black-player-info" style="align-self:center"></div>
        <div class="white-circle" hidden></div>
        <div id="current-white-player-info" style="align-self:center" hidden></div>
    </div>
    <br/>
    <div class="board" id="board"></div>
    <div class="player-info">
        <div class="black-circle"></div>
        <span id="black">a</span>
    </div>
    <div class="player-info">
        <div class="white-circle"></div>
        <span id="white">b</span>
    </div>
</body>
    <script>
        const socket = io('/game');
        const user_id = '<%= user_id %>'
        const user1 = '<%= user1 %>'
        const user2 = '<%= user2 %>'
        const nickname = '<%= nickname %>'
        const room_id = 'game&<%= user1 %>&<%= user2 %>'
        const name_space = '/game'
    </script>
</html>