<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 프로필</title>
</head>

<body>
    <h1>환영합니다, <%= user.nickname %>
    </h1>

    <!-- 사용자 정보 표시 -->
    <ul>
        <li>ID: <%= user.login_id %>
        </li>
        <li>닉네임: <%= user.nickname %>
        </li>
        <li>나이: <%= age %>
        </li>
        <li>성별: <%= user.gender %>
        </li>
        <li>생년월일: <%= user.birth %>
        </li>
    </ul>

    <!-- 프로필 사진 표시 -->
    <img src="" alt="프로필 사진">

    <!-- 프로필 편집 및 삭제 버튼 -->
    <a href="/profile/edit">프로필 편집</a>
    <a href="/프로필-삭제">프로필 삭제</a>

    <!-- 친구 수 표시 -->
    <p>친구 수: <%= friendCount %>
    </p>

    <!-- 선호 및 비선호 카테고리 표시 -->
    <p>선호하는 카테고리: </p>
    <p>비선호하는 카테고리: </p>

    <!-- 참여 중인 채팅룸, 읽지 않은 메시지, 일정 목록 표시 -->

    <script>
        
    </script>
</body>

</html>